/* Global style */
.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 32px;
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid darkgray;
    font-size: 1em;
}
.btn-tertiary:hover, .btn-tertiary:focus {
    color: #888888;
    border-color: #888888;
}

/* input file style */
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + .js-labelFile {
    overflow: hidden;
    margin-top: 30px;
}
.input-file + .js-labelFile .icon:before {
    content: "\f093";
}
.input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B;
}

/*
***********************************************************
*/

html,
span {
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
}

.box {
    position: relative;
    left: 50%;
    top: 62%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.type-checkbox {
    display: none;
}
.type-checkbox + label {
    display: block;
    width: 150px;
    height: 34px;
    background-color: #06d6a0;
    border-radius: 22px;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
    transition: all 300ms cubic-bezier(0.79, -0.01, 0.36, 1);
    cursor: pointer;
    position: relative;
}
.type-checkbox + label span {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}
.type-checkbox + label span.aprobado {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 2.5em;
    -webkit-animation: left-check 300ms ease-in-out;
    animation: left-check 300ms ease-in-out;
}
@-webkit-keyframes left-check {
    0% {
        opacity: 0;
        left: 5em;
    }
    100% {
        opacity: 1;
        left: 2.5em;
    }
}
@keyframes left-check {
    0% {
        opacity: 0;
        left: 5em;
    }
    100% {
        opacity: 1;
        left: 2.5em;
    }
}
.type-checkbox + label span.desaprobado {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.3em;
    display: none;
    -webkit-animation: right-check 300ms ease-in-out;
    animation: right-check 300ms ease-in-out;
}
@keyframes left-check {
    0% {
        opacity: 0;
        right: 5em;
    }
    100% {
        opacity: 1;
        right: 1.3em;
    }
}
.type-checkbox + label:before {
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 117px;
    transition: left 300ms cubic-bezier(0.79, -0.01, 0.36, 1);
}
.type-checkbox:checked + label {
    background-color: #ef476f;
}
.type-checkbox:checked + label span.aprobado {
    display: none;
}
.type-checkbox:checked + label span.desaprobado {
    display: block;
}
.type-checkbox:checked + label:before {
    left: 8px;
}

@media (max-width: 575px) {
    .type-checkbox + label {
        width: 50%;
        left: 20%;
    }

}

/* Style TAB Parametros.php
/* Android 2.3 :checked fix */
@-webkit-keyframes fake {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
@keyframes fake {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
body {
    -webkit-animation: fake 1s infinite;
    animation: fake 1s infinite;
}

.worko-tabs {
    margin: 20px;
    width: 90%;
    font-size: 0.9em;
}
.worko-tabs .state {
    position: absolute;
    left: -10000px;
}
.worko-tabs .flex-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
    flex-grow: 1;
    max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
}
.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid #ccc;
}
.worko-tabs .tab:hover {
    background-color: #fff;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#tab-five:checked ~ .tabs #tab-five-label {
    background-color: #fff;
    cursor: default;
    border-left-color: rgb(43,144,217);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#tab-five:checked ~ .tabs #tab-five-panel {
    display: block;
}

@media (max-width: 600px) {
    .flex-tabs {
        flex-direction: column;
    }
    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }
    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }
    .flex-tabs #tab-one-label {
        order: 1;
    }
    .flex-tabs #tab-two-label {
        order: 3;
    }
    .flex-tabs #tab-three-label {
        order: 5;
    }
    .flex-tabs #tab-four-label {
        order: 7;
    }
    .flex-tabs #tab-five-label {
        order: 9;
    }
    .flex-tabs #tab-one-panel {
        order: 2;
    }
    .flex-tabs #tab-two-panel {
        order: 4;
    }
    .flex-tabs #tab-three-panel {
        order: 6;
    }
    .flex-tabs #tab-four-panel {
        order: 8;
    }
    .flex-tabs #tab-five-panel {
        order: 10;
    }

    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label,
    #tab-five:checked ~ .tabs #tab-five-label {
        border-bottom: none;
    }

    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel,
    #tab-four:checked ~ .tabs #tab-four-panel,
    #tab-five:checked ~ .tabs #tab-five-panel {
        border-bottom: 1px solid #ccc;
    }
}




